<div class="account-card primary">
    <div class="account-card__row">
        <p class="text-medium-14-20 text-special-bg2">Account Type</p>
        <img src="assets/icons/mastercard.svg">
    </div>
    <div class="account-card__row">
        <p class="text-bold-16-24 text-white">Credit Card</p>
    </div>
    <div class="account-card__row">
        <p class="text-medium-14-20 text-special-bg2">**** **** **** 2598</p>
        <div class="account-card__amount">
            <p class="text-bold-16-24 4 text-white">$25000</p>
            <!-- TODO: avaliar melhor maneira de se trabalhar com SVG no Angular -->
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="12" fill="white" />
                <g transform="translate(4 4)">
                    <path d="M4.6665 11.3337L11.3332 4.66699" stroke="#299D91" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M4.6665 4.66699H11.3332V11.3337" stroke="#299D91" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
            </svg>
        </div>
    </div>
</div>