<header class="header">
    <div class="header__left-container">
        <h1 class="text-bold-24-28">Hello Tanzir</h1>
        <img src="assets/icons/chevrons-right.svg" class="header__left-icon">
        <p class="header__date text-regular-14-20">May 19, 2023</p>
    </div>

    <div class="header__right-container">
        <img src="assets/icons/notification.svg" class="header__notification-icon">
        <div class="header__search-box">
            <input type="text" placeholder="Search here" class="text-regular-16-24">
            <img src="assets/icons/search.svg">
        </div>
    </div>
</header>