@import '../../../../styles/colors.scss';

.header {
    display: flex;
    align-items: center;

    &__left-container {
        display: flex;
        align-items: center;
        margin: 0 auto 0 0;
    }

    &__hello {
        margin-right: 16px;
        transition: opacity 0.5s ease, transform 0.5s ease;
        opacity: 1;
        transform: translateX(0);

        &.hide {
            opacity: 0;
            transform: translateY(50%);
        }
    }

    &__date-container {
        display: flex;
        align-items: center;
        color: $gray-3;
        transform: translateX(0);

        &.move-left {
            transform: translateX(-140%);
        }
    }

    &__right-container {
        display: flex;
        align-items: center;
    }

    &__notification-icon {
        width: 24px;
        height: 24px;
        margin-right: 32px;
        cursor: pointer;
    }
}