@import '../../../../styles/colors.scss';

.header {
    display: flex;
    padding: 16px 20px;
    align-items: center;

    &__left-container {
        display: flex;
        align-items: center;
        margin: 0 auto 0 0;
    }

    &__left-icon {
        margin-left: 16px;
    }

    &__date {
        color: $gray-3;
    }

    &__right-container {
        display: flex;
        align-items: center;
    }

    &__notification-icon {
        width: 24px;
        height: 24px;
        margin-right: 32px;
        cursor: pointer;
    }
}