<div class="slider-footer">
    <div class="slider-footer__action">
        <img src="assets/icons/chevron-left.svg" class="slider-footer__icon--right">
        <p class="text-gray-4">Previous</p>
    </div>
    <div class="slider-footer__circles">
        <div class="slider-footer__circle primary"></div>
        <div class="slider-footer__circle slider-footer__circle--off primary"></div>
        <div class="slider-footer__circle slider-footer__circle--off primary"></div>
    </div>
    <div class="slider-footer__action">
        <p>Next</p>
        <img src="assets/icons/chevron-right.svg" class="slider-footer__icon--left">
    </div>
</div>