@import '../../../../../styles/colors.scss';

.slider-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__action {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__circles {
        display: flex;
    }

    &__circle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 3px;

        &--off {
            background-color: $gray-4;
        }
    }

    &__icon {
        &--right {
            margin-right: 4px;
        }

        &--left {
            margin-left: 4px;
        }
    }
}