<div class="overview">
    <section class="overview__menu">
        Menu
    </section>
    <header class="overview__header">
        Header
    </header>
    <section class="overview__top-content">
        Top Content
    </section>
    <section class="overview__recent-transactions">
        Recent Transactions
    </section>
    <section class="overview__statistics">
        Statistics
    </section>
    <section class="overview__expenses-breakdown">
        Expenses Breakdown
    </section>
</div>