.goals-card {
    display: flex;

    &__top,
    &__down {
        display: flex;
        justify-content: space-between;
    }

    &__top {
        align-items: flex-start;
        height: 20%;
        margin-bottom: 24px;
    }

    &__down {
        align-items: center;
        height: 80%;
    }

    &__edit-target {
        display: flex;

        p {
            margin-right: 12px;
        }
    }

    &__targets {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}